

<div class="row text-center">
    <div class=" col-md-6 offset-3">
    <h2> This item doesn't exist !</h2>
    </div>
    <hr/>
    <a class="btn btn-outline-success text-center" asp-controller="Home" asp-action="Index">Home page</a>
</div>