@model MuslimApp.Models.Donation

<h4>Donation</h4>
<hr />
<div class="row">

    <form asp-action="Create">
        <div class="col-md-4 offset-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input type="number" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mosque" class="control-label"></label>
                <select asp-for="mosqueId" class="form-control" asp-items="ViewBag.mosqueId"></select>
            </div>
        </div>
        <div class="col-md-8 offset-2">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            
            <a asp-action="Index" class="btn btn-outline-secondary float-lg-start"><i class="bi bi-backspace"></i>Back to List</a>
            <input type="submit" value="Create" class="btn btn-success float-end" /><i class="bi bi-bookmark-plus"></i>
    
        </div>
    </form>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="buttonId">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}


