<div class="bg2-image">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">This application is made to support muslims comunity around the world, by make management of <b>mosque</b> more easer <br />
                Also make muslims support mosques by donations </p>
            
        </div>
      <a  asp-actions="Index" class="btn btn-primary disabled placeholder col-4">Home Page</a>
    </div>

    <div class="card" aria-hidden="true">
        <div class="card-body">
            <a  asp-actions="Index" class="btn btn-primary disabled placeholder col-4">Home Page</a>
            <a asp-controller="Home" asp-actions="Index" class="btn btn-success disabled placeholder col-4">Donation</a>
        </div>
    </div>
</div>
