<div class="bg2-image">
    <p class="text-center" style="color:white">This Maps could help you to find mosques .</p>
<div class="col-md-8 offset-2">
<div class="card" style="width: 18rem;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6818.333936002378!2d-6.04089!3d31.29913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa584558ebd04308d!2sMosqu%C3%A9%20Ait%20Haddouch!5e0!3m2!1sen!2sma!4v1661988219313!5m2!1sen!2sma"
    width="750" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
</div>