@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h3>This applications gaent to you many privacies:</h3>
    <ol class="circle">
        <li>You can Delete your informations after using our application.</li>
        <li>Singin is not requred. </li>
        <li></li>
        <li></li>
    </ol>
</div>
